---

---

<footer>
  <h1 class="w-full text-xs font-semibold text-center">
    Source 
    <a
    class="text-blue-600"
      href="https://www.cnnindonesia.com/"
      title="CNNIndonesia.com menyajikan berita gaya hidup meliputi kesehatan, kuliner, kecantikan, travel, Infashion hingga tren terbaru dan terkini"
      >CNN Indonesia</a>
  </h1>
</footer>
